$bg-img1: url("../../../asset/resource/sapo.png");
$bg-img2: url("../../../asset/resource/login-background.png");
.root {
  height: 100vh;
  background-size: contain !important;
  background-color: #f4f6f8 !important;
  background: url("../../images/login-background.png") no-repeat center center
    fixed;
  background-size: cover;
}
.login-warpper {
  margin-top: calc((100vh - 588px) / 2);
  margin-left: auto;
  margin-right: auto;
}
.div-logo {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 25px;
}
.input {
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  transition-duration: 0.2s;
  border-color: #c4cdd5;
  min-width: 75px;
  height: 45px;
  padding: 1px;
  margin: 0;
  border: 1px solid #95a7b7;
  border-radius: 3px;
  border-style: inset;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 10px;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.form-login {
  padding-left: 40px;
}
.logo {
  width: 195px;
}
.area-login {
  max-height: 588px;
  height: 588px;
  width: 100%;
  background: url("../../images/123.png") no-repeat center center fixed;
}
.btn-login {
  margin-top: 20;
  background: linear-gradient(180deg, #4697fe, #08f);
  border-color: #08f;
  box-shadow: inset 0 1px 0 0 #549cf9;
  color: #fff !important;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  height: 45px;
  line-height: 40px;
  z-index: 999;
  padding: 0 93px;
  text-transform: inherit;
  width: 75%;
  &:hover {
    background: linear-gradient(180deg, #4697fe, #08f);
    border-color: #08f;
  }
}
.div-action-login {
  text-align: center;
  margin: 25px 0 10px;
  color: #fff;
}
.tit {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  float: left;
  &:before {
    content: "";
    width: 97%;
    padding: 1px 0px 0px;
    background: #ebebeb;
    color: #ebebeb;
    position: absolute;
    left: 10px;
    top: 15px;
    line-height: 32px;
    z-index: 1;
  }
}
.tit-item {
  font-size: 14px;
  line-height: 32px;
  padding: 0px 15px;
  background-color: #fff;
  display: inline-block;
  background: #fff;
  color: #898989;
  z-index: 12;
  position: relative;
}
.login-more {
  cursor: pointer;
  padding-left: 5px;
  display: inline-block !important;
  height: 35px !important;
  margin: 0 auto !important;
}
