.dashboard-body-content {
    .list-wrapper {
        padding: 0 5px;
        .header-list {
            border-bottom: 1px solid #ECEEEF;
            padding: 5px 0 10px;
            min-width: 818px;
            flex-wrap: wrap;
            color: #2A2C2E;
            font-weight: 600;
            font-size: 14px;
        }
    }
}