#wrapper-content-table {
  margin: 15px 0;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  .filter-null {
    display: block;
    text-align: center;
    margin: 60px;

    .filter-null-icon {
      display: block;
      text-align: center;
      margin-top: 20px;

      .filter-null-icon {
        display: block;
        padding-top: 50px;
        padding-bottom: 30px;
      }
    }

    .filter-null-text-one {
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: inherit;
    }

    .filter-null-text-two {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #637381;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .filter-null-text-three {
      display: block;
      font-size: 18px;
      margin-top: 15px;
      font-weight: 600;
      color: inherit;
    }
  }
}

#wrapper-content-table {
  .dashboard-body-content {
    background: #FFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 920px;
    min-height: 367px;

    .customer-list-wrapper {
      padding: 0 5px;

      .customer-header {
        border-bottom: 1px solid #ECEEEF;
        padding: 17px 0;
        min-width: 818px;
        flex-wrap: wrap;

        .header-checkbox {
          margin-top: -8px;
          margin-left: 25px;
        }

        .margin-right20 {
          margin-right: 20px;
        }

        .header-customer-id {
          width: calc((100% - 193px) * (40 / 2)/100);
          min-width: 108px;
        }

        .header-customer-name {
          width: calc((100% - 193px) * 20 / 100);
          min-width: 125px;
        }

        .header-customer-created {
          width: calc((100% - 193px) * (40 / 2)/100);
        }

        .header-customer-phone {
          width: calc((100% - 193px) * 20 / 100);
        }

        .header-customer-address {
          width: calc((100% - 193px) * 15 / 100);
        }

      }

      .header-list {
        color: #2A2C2E;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .customer-list-wrapper {
      .customer-list-container {
        .customer-item {
          align-items: center;
          border-bottom: 1px solid #E0E0E0;
          padding: 15px 0;
          min-width: 920px;
          flex-wrap: wrap;
          cursor: pointer;

          .item-checkbox {
            margin-left: 25px;
          }

          .item-list {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: pre-line;
            overflow-wrap: break-word;
            min-width: 108px;
            flex-direction: column;
            justify-content: space-around;
            display: -webkit-box;
            -webkit-box-pack: center;
            line-height: 30px;
          }

          .margin-right20 {
            margin-right: 20px;
          }

          .item-id {
            width: calc((100% - 193px) * (40 / 2)/100);
            min-width: 108px;
          }

          .item-name {
            width: calc((100% - 193px) * 20 / 100);
            min-width: 125px;
          }

          .item-date {
            width: calc((100% - 193px) * (40 / 2)/100);
          }

          .item-phone {
            width: calc((100% - 193px) * 20 / 100);
          }

          .item-address {
            //width: calc((100% - 193px) * 15 / 100);
          }
        }

        .customer-item:nth-child(odd) {
          background-color: #f9f9f9;
        }

        .customer-item:hover {
          background-color: #e5f3ff;
        }
      }
    }
  }
}