#wrapper-product-list {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  padding: 30px 15px;
  &::-webkit-scrollbar-track {
    background-color: #e6e8ea;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d4d3d3;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  .content-list{
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;

  }
}
