.card-main-info-product-left {
    .card-main {
        padding: 15px;
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 4px;
        padding-bottom: 0px;

        .title {
            font-size: 16px;
            font-weight: 600;
            color: #212b35;
            border-bottom: 1px solid #e3e3e3;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
            padding-bottom: 17px;
        }

        .content {
            padding: 1rem;

            textarea {
                height: 100px;
                width: 100%;
                border: 1px solid #c4cdd5;
                padding: 6px;
                outline-color: #0088ff;
                border-radius: 3px !important;
            }

            .control-label {

                margin-bottom: 10px;
            }

            input {
                display: inline-block;
                // vertical-align: baseline;
                width: auto;
                height: 34px;
                padding: 1px;
                margin: 0;
                color: #000;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 4px 2px 4px 6px;
                font-weight: 400;
                text-transform: none;
                letter-spacing: normal;
                box-sizing: border-box;
                display: block;
                width: 100%;
                font-size: 13px;
                font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
                    Roboto, Helvetica Neue, sans-serif;
                border-style: inset;
                border: 1px solid #c4cdd5;
                border-radius: 3px !important;
                outline-color: #0088ff;
            }
        }
    }

    .info-product-left-02 {
        margin-top: 20px;
    }
    textarea {
        font-size: 14px;
        width: 100%;
        padding: 8px;
        outline: none;
        resize: none;
        height: 90px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
    }
}

.card-main-info-product-right {
    width: 100%;

    .text-image {
        font-weight: 600;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .preview-image {
        padding-top: 10px;
        .image:first-child {
            width: 100px;
            height: 100px;
        }
        .image {
            width: 85px;
            height: 85px;
            padding: 5px;
        }
    }

    .content-image {
        width: 140px;
        height: 110px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .card-main {
        padding: 15px;
        background: #ffffff;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
        border-radius: 4px;
        padding-bottom: 0px;
        width: 100%;
        min-height: 223px;
       
        .content {
            padding: 1rem;

            .control-label {
                margin-bottom: 10px;

            }

            textarea {
                font-size: 14px;
                width: 100%;
                padding: 8px;
                outline: none;
                resize: none;
                height: 90px;
                border: 1px solid #e0e0e0;
                border-radius: 4px;
            }
        }
        .display-none{
            display: none;
        }
    }
   
}
