.search-product-container {
  margin-top: 10px;
  .search-wrapper {
    width: 100%;
    .input-prefix-common {
      top: 9px;
    }
    input {
      padding: 6.5px 10px 6.5px 40px;
    }
  }
  .product-list-search-wrapper {
    min-height: 100px;
    max-height: 500px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(33, 43, 53, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    top: 40px;
    padding: 0px 15px 0 15px;
    z-index: 999;
    .head {
      font-weight: 500;
      border-bottom: 1px solid #c0c0c0;
      margin: 0 -15px;
      .content-info-image {
        width: 54px;
        text-align: center;
        float: left;
        height: 55px;
        padding-top: 8px;
      }
      .content-info {
        padding: 20px 20px 20px 14px;
        float: left;
        width: calc(100% - 185px);
        border-left: 1px solid #dcdee2;
        .search-name {
          width: 100%;
        }
      }
    }
    .list-item-search {
      overflow-y: auto;
      max-height: 250px;
      margin-right: -14px;
      padding-right: 1px;
      margin-left: -15px;
      .product-item-info {
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #dcdee2;
        &:hover {
          background: #0088ff;
          color: #fff;
        }
        .content-info-image {
          width: 55px;
          text-align: center;
          float: left;
          height: 55px;
          padding-top: 8px;
        }
        .content-info {
          padding: 14px;
          float: left;
          width: calc(100% - 185px);
          border-left: 1px solid #dcdee2;
          .search-name {
            width: 100%;
          }
        }
        .content-info-price {
          width: 130px;
          float: left;
          text-align: right;
          padding: 6px;
        }
      }
      &::-webkit-scrollbar {
        height: 5px;
        background: #fff;
        width: 6px;
        //border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #c4c4c4;
        border-radius: 5px;
        width: 2px;
      }
    }
  }
  .display-none {
    margin: unset;
    display: none;
  }
  .no-content-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 30px 0;
    .text {
      margin-top: 10px;
    }
  }
}
