.search-order-container {
  margin-top: 10px;
  .import-excel-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #0088FF;
    padding: 5.25px 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #0084ff;
      color: white;
    }
    .separate {
      margin: 0 8px;
    }
  }
  .search-wrapper { 
    width: 100%;
    .input-prefix-common {
      top: 5px;
    }
    input {
      padding: 6.5px 10px 6.5px 40px;
    }
  }
  .order-list-search-wrapper {
    min-height: 100px;
    max-height: 500px;
    width: calc(100% - 0px);
    background: #FFFFFF;
    border: 1px solid rgba(33, 43, 53, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    top: 40px;
    padding: 10px 15px 0 15px;
    z-index: 999;
    .head {
      font-weight: 500;
      border-bottom: 1px solid #C0C0C0;
      padding: 0 15px 5px 15px;
      margin: 0 -15px;
    }
    .order-item {
      padding: 10px 15px;
      margin: 0 -15px;
      cursor: pointer;
      padding-left: 30px !important;
      &:hover {
        background: #0088FF;
        color: #FFF;
      }
    }
    .order-code {
      width: 20%;
    }
    .tracking-code {
      width: 20%;
    }
    .tenant {
      width: 20%;
    }
    .order-total-amount {
      width: 20%;
      text-align: right;
    }
    .order-ship-fee {
      width: 20%;
      text-align: right;
    }
    .is-empty-order-collation{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .list-item-search{
      overflow-y: auto;
      max-height: 250px;
      margin-right: -14px;
      padding-right: 15px;
      margin-left: -15px;
      &::-webkit-scrollbar {
        height: 5px;
        background: #FFF;
        width: 6px;
        //border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        border-radius: 5px;
        width: 2px;
      }
    }

  }
  .display-none {
    margin: unset;
    display: none;
  }
  .no-content-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 30px 0;
    .text {
      margin-top: 10px;
    }
  }
}
