.info-product-footer{
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
    margin: 40px 18px 20px 18px;
    border-top: 1px solid #d3d3d3;
    padding-top: 10px;
    .dlv-button-save {
        margin-right: 20px;
        padding: 8px;
        border: 1.5px solid #0088FF;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #0084ff;
          color: white !important;
            svg{
              path{
                fill: white !important;
              }
          }
          .separate{
            rect{
              fill: white;
            }
          }
        }
        .separate {
          margin: 0 5px;
        }
      }
    .dlv-button-cancel{
        border: 1px solid #d3d3d3;
        padding: 10.5px;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
    }
}
