.report-order-content {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 10px  25px;
    min-height: 475px;
    .report-order-title {
      font-weight: 600;
      font-size: 16px;
      color: #212b35;
      svg {
        margin-left: 10px;
      }
    }
    .overview-wrapper {
      width: 100%;
      margin-top: 10px;
    }
  }
  
  .analytic-order-content {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    .general-analytic {
      color: #212b35;
      font-weight: 500;
      margin: 0 -10px;
      //padding: 1px 10px 10px 10px;
      border-bottom: 1px solid #E5E5E5;
    }
    .analytic-header {
      color: #212b35;
      font-weight: 500;
      margin: 0 -10px;
      //padding: 1px 25px 10px 25px;
      //padding: 10px 25px;
      border-bottom: 1px solid #E5E5E5;
      .hd-cell {
        padding: 10px;
        height: 41.5px;
      }
      .header-can-sort {
        cursor: pointer;
  
        &:hover {
          background: #D9D9D9;
        }
      }
      .active {
        background: #f3f2f1;
      }
    }
    .general-analytic {
      padding-top: 10px;
    }
    .time {
      width: 15%;
      text-align: left;
      padding: 0 10px 10px 10px;
      svg {
        margin-left: 10px;
      }
    }
    .revenue {
      width: 20%;
      justify-content: flex-end;
      text-align: right;
      padding: 0 10px 10px 10px;
      svg {
        margin-left: 10px;
      }
    }
    .order {
      width: 30%;
      justify-content: flex-end;
      text-align: right;
      padding: 0 10px 10px 10px;
      svg {
        margin-left: 10px;
      }
    }
    .average {
      width: 35%;
      justify-content: flex-end;
      text-align: right;
      padding: 0 10px 10px 10px;
      svg {
        margin-left: 10px;
      }
    }
    .order-log-item {
      padding: 10px 0 0 0;
      border-bottom: 1px solid #E5E5E5;
      &:last-child {
        border: unset;
      }
    }
  }
  
  .report-tooltip {
    max-width: 300px;
    text-align: left;
  }
  