.content-dashboard{
    width: calc(100% - 230px);
    margin-left: 230px;
    padding-top: 59px;
    height: 100vh;
    background-color: #f4f6f8;
}
.content-dashboard-active{
    width: calc(100% - 57px);
    margin-left: 57px;
    padding-top: 59px;
    height: 100vh;
    background-color: #f4f6f8;
}
