.content-dashboard {
    min-height: 100vh;
    width: calc(100% - 230px);
    margin-left: 230px;
    background-color: #f0f1f1;

    .top-bar-body {
        padding-left: 10px;
    }
}

.content-dashboard-active {
    width: calc(100% - 57px);
    margin-left: 57px;
    background-color: #f0f1f1;
    min-height: 635px;
}
