.overview-info {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 8px;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  padding: 9px 20px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  .overview-info-content {
    width: 100%;
    .overview-info-left {
      .overview-info-header {
        color: #858585;
      }
      .overview-info-value {
        color: #212B35;
        font-weight: 500;
        font-size: 18px;
      }
    }
    .overview-info-right {
      .compare-info {
        position: absolute;
        background-color: #ffffff;
        z-index: 2;
        // bottom: -100px;
        top: 37px;
        min-width: 275px;
        left: 0;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

        .compare-data {
          background-color: #ffffff;
          padding: 5px 10px;
          color: #6F6F6F;
          font-weight: normal;
          text-align: left;
          line-height: 2;
          font-size: 13px;
          border-radius: 4px;

          .compare-data-detail {
            .detail-cont {
              display: flex;
              justify-content: space-between;

              .detail-l {
                width: 150px;
              }

              .detail-r {
                color: #212B35;
                width: calc(100% - 150px);
                word-break: break-word;
                text-align: right;
              }
            }
          }
        }

        .arrow {
          width: 1rem;
          height: 0.5rem;
          margin: 0 0.3rem;
          position: absolute;
          display: block;
          top: -7px;
          left: 0;

          &::before,
          &::after {
            border-width: 0.5rem;
            position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
            box-sizing: border-box;
          }

          &::before {
            bottom: 2px;
            border-bottom-color: #C4C4C4;
          }

          &::after {
            bottom: 1px;
            border-bottom-color: #fff;
          }
        }
      }
    }
    .place-left {
      right: 0;
      left: unset!important;
      .arrow {
        right: 0;
        left: unset!important;
      }
    }
  }
  .overview-selected {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 8px;
    top: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    &:before {
      content: "";
      width: 100%;
      left: 0;
      height: 5px;
      position: absolute;
      background: #fff;
      top: 4px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}
.overview-info-active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
