.top-bar-market-place {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    height: 55px;
    display: flex;
    color: #4F4F4F;
    background: #FFF;
    justify-content: space-between;
    .header-top-bar-text{
        margin-left: 15px;
    }
    #top-bar-sendo-icon {
        align-self: center;
        margin: 0 10px 0 30px;
        img{
            width: 28px;
            height: 28px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .top-bar-text {
        align-self: center;
        font-size: 20px;
        margin-right: 5px;
        .top_bar_focus{
            cursor: pointer;
            &:hover{
                color: #0088ff;
            }
        }
      .header-product-listing-create {
        cursor: pointer;
        &:hover {
          color: #0088FF;
        }
      }
      .header-tools {
        cursor: pointer;
        &:hover {
          color: #0088FF;
        }
      }
    }
    .top-bar-action {
      align-items: center;
      margin-right: 10px;
      .icon-feed-back {
        margin: 0px 15px;
        cursor: pointer;
      }
      .icon-help {
        cursor: pointer;
      }
      .icon-update {
        cursor: pointer;
        margin-right: 20px;
      }
      .menu-bottom{
        position: relative;
        .user{
          a{
            color: #4F4F4F;
            text-decoration: none;
          }
          .noti{
            position: absolute;
            background-color: red;
            height: 17px;
            width: 17px;
            border-radius: 50%;
            top: -4px;
            left: 25px;
            .count{
              color: white;
              margin-top: 1px;
              text-align: center;
              font-weight: 400;
            }
          }
        }
        .dropdown-menu {
          width: 400px;
          border: 1px solid #dddddd;
          background: #fff;
          box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.5);
          transform: none !important;
          padding: 0;
          margin: 0;
          left: -300px !important;
          top: 53px !important;
          height: 393px;
         
         
          .info {
            width: 100%;
           
            .header{
              padding: 22px 17px 14px 17px;
              align-items: center;
              border-bottom: 1px solid #E8EAEB;
              justify-content: space-between;
              .title{
                font-size: 1.125rem;
                font-weight: 500;
              }
            }
            .content {
              overflow-y: auto;
              width: 100%;
              height: 320px;
              &::-webkit-scrollbar {
                height: 5px;
                background: #FFF;
                width: 7px;
                cursor: pointer;
                //border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: #C4C4C4;
                border-radius: 5px;
                width: 5px;
                cursor: pointer;
              } 
              .item {
                width: 100%;
                padding: 11px 16px;
                border-bottom: 1px solid #E8EAEB;
                cursor: pointer;
                .icon{
                  width: 40px;
                  margin-top: 10px;
                }
                .content-noti{
                  width: calc((100% - 43px));
                  .title {
                    font-weight: 500;
                    margin-bottom: 7px;  
                      font-size: 1rem;
                  }
                  .sub-title {
                  }
                  .date{
                    color: #A3A8AF;
                    font-size: 12px;
                    margin-top: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
}
