.top-bar-market-place {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    height: 55px;
    display: flex;
    color: #4F4F4F;
    background: #FFF;
    justify-content: space-between;
    .header-top-bar-text{
        margin-left: 15px;
    }
    #top-bar-sendo-icon {
        align-self: center;
        margin: 0 10px 0 30px;
        img{
            width: 28px;
            height: 28px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .top-bar-text {
        align-self: center;
        font-size: 20px;
        margin-right: 5px;
        .top_bar_focus{
            cursor: pointer;
            &:hover{
                color: #0088ff;
            }
        }
      .header-product-listing-create {
        cursor: pointer;
        &:hover {
          color: #0088FF;
        }
      }
      .header-tools {
        cursor: pointer;
        &:hover {
          color: #0088FF;
        }
      }
    }
    .top-bar-action {
      align-items: center;
      margin-right: 10px;
      .icon-feed-back {
        margin: 0px 15px;
        cursor: pointer;
      }
      .icon-help {
        cursor: pointer;
      }
      .icon-update {
        cursor: pointer;
        margin-right: 20px;
      }
      .menu-bottom{
        position: relative;
        .user{
          a{
            color: #4F4F4F;
            text-decoration: none;
          }
          .noti{
            position: absolute;
            background-color: red;
            height: 17px;
            width: 17px;
            border-radius: 50%;
            top: -4px;
            left: 25px;
            .count{
              color: white;
              margin-top: 1px;
              text-align: center;
              font-weight: 400;
            }
          }
        }
        .dropdown-menu {
          width: 356px;
          border: 1px solid #dddddd;
          background: #fff;
          box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.5);
          transform: none !important;
          padding: 0;
          margin: 0;
          left: -260px !important;
          top: 45px !important;
          height: 340px;
          &:after,
          &:before {
            bottom: 10px;
            right: 100%;
            border-style: solid;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            top: -19px;
            right: 30px;
            border-color: transparent transparent #ffffff transparent;
            border-bottom-color: #ddd;
            border-width: 9px;
          }
         
          .info {
            width: 100%;
            padding: 10px;
            .content {
              overflow-y: auto;
              width: 100%;
              height: 320px;
              &::-webkit-scrollbar {
                height: 5px;
                background: #FFF;
                width: 7px;
                cursor: pointer;
                //border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: #C4C4C4;
                border-radius: 5px;
                width: 5px;
                cursor: pointer;
              } 
              .item {
                background-color: #f4f6f8;
                padding: 10px;
                border-radius: 3px;
                width: 100%;
                margin-bottom: 14px;
                cursor: pointer;
                .title {
                  font-weight: 500;
                  margin-bottom: 7px;
                }
                .sub-title {
                }
              }
            }
          }
        }
      }
    }
}
