.wrapper-add-customer {
    padding: 50px 50px 0 50px;
    font-size: 14px;
    background-color: #f4f6f8;

    //header create customer
    .ui-title-bar-container {
        margin-bottom: 115px;

        .ui-title-bar {
            background-color: #1c2260;
            color: #fff;
            position: relative;
            padding: 0;
            background: transparent;
            color: inherit;
            z-index: 1;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            border-bottom: 0;
            min-height: 7.6rem;
            float: left;
            text-align: left;
            width: 100%;

            .ui-title-bar__navigation {
                fill: #657583;
                color: #657583;
                font-size: 13px;
                cursor: pointer;
            }

            .ui-title-bar__main-group {
                h1 {
                    font-size: 1.8rem;
                    line-height: 3.4rem;
                    font-weight: 600;
                }
            }
        }
    }

    //customer info
    .customer-container {
        padding-left: 0;
        padding-right: 0;
        margin-top: 30px;
        display: flex;
        background: #f4f6f8;

        .customer-create-left {
            width: calc((100% - 20px)*2/3);

            .page-info {
                background-color: #fff;
                box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                padding: 20px;
                position: relative;
                margin-bottom: 20px;

                .page-info-title {
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 13px;
                }

                .page-info-body {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    .field {
                        margin-bottom: 20px;

                        .label-required::after {
                            content: "*";
                            color: red;
                            margin: 0 .2em;
                        }

                        .customer-name {
                            display: inline-block;
                            width: auto;
                            height: 34px;
                            padding: 1px;
                            margin: 0;
                            border: 1px solid #95a7b7;
                            border-radius: 0;
                            border-style: inset;
                            color: #000;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            padding: 4px 2px 4px 6px;
                            border: 1px solid #c4cdd5;
                            border-radius: 3px;
                            font-weight: 400;
                            text-transform: none;
                            letter-spacing: normal;
                            box-sizing: border-box;
                            display: block;
                            width: 100%;
                            font-size: 13px;
                            font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;

                            #editting-customer-address-district {
                                margin: 10px 0 0;
                                display: flex;

                                .select2-container {
                                    width: 100% !important;
                                }

                                .select2-selection.select2-selection--single {
                                    background-color: #fff;
                                    border: 1px solid #aaa;
                                }

                                &.default {
                                    .select2 {
                                        .select2-selection.select2-selection--single {
                                            background: #f3f4f5;
                                            border: 1px solid rgba(137, 143, 156, 0.2) !important;
                                        }
                                    }
                                }
                            }

                            #editting-customer-address-ward {
                                margin: 10px 0 0;
                                display: flex;
                                .select2.select2-container {
                                  width: 100% !important;
                                }
                                .select2-selection.select2-selection--single {
                                  background-color: #fff;
                                  border: 1px solid #aaa;
                                }
                                &.default {
                                  .select2-selection.select2-selection--single {
                                    background: #f3f4f5;
                                    border: 1px solid rgba(137, 143, 156, 0.2) !important;
                                  }
                                }
                              }
                        }
                    }
                }
            }
        }

        .customer-create-right {
            width: calc((100% - 20px)/3);
            margin-left: 20px;

            .page-info {
                background-color: #fff;
                box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 3px;
                padding: 20px;
                position: relative;
                margin-bottom: 20px;

                .page-info-title {
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 13px;
                }

                .page-info-body {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    .page-info-item {
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 13px;
                        margin-bottom: 12px;
                        font-weight: 500;

                        .page-info-item-title {
                            font-size: 13px;
                            margin-bottom: 12px;
                            font-weight: 500;
                        }

                        .customer-textbox {
                            display: inline-block;
                            width: auto;
                            height: 34px;
                            padding: 1px;
                            margin: 0;
                            border: 1px solid #95a7b7;
                            border-radius: 0;
                            border-style: inset;
                            color: #000;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            padding: 4px 2px 4px 6px;
                            border: 1px solid #c4cdd5;
                            border-radius: 3px;
                            font-weight: 400;
                            text-transform: none;
                            letter-spacing: normal;
                            box-sizing: border-box;
                            display: block;
                            width: 100%;
                            font-size: 13px;
                            font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                        }
                    }
                }
            }
        }

    }

    .ui-title-bottom-bar {
        border-top: 1px solid #dfe4e8;
        padding-top: 15px;
        padding-bottom: 60px;
        margin-top: 20px;
        width: 100%;
        position: relative;

        .right {
            float: right;
        }

        .btn-default {
            color: #fff !important;
            border: 1px solid #08f !important;
            background: linear-gradient(180deg, #08f, #4697fe);
            box-shadow: inset 0 1px 0 0 #1391ff;
        }

        .btn-blank {
            background: linear-gradient(180deg, #fff, #f9fafb);
            color: #212b35;
            transition-timing-function: cubic-bezier(.64, 0, .35, 1);
            transition-duration: .2s;
            -webkit-tap-highlight-color: transparent;
            border: 1px solid #dfe4e8;
        }
    }
}