.wrapper-customer-info {
    padding: 50px 50px 0 50px;
    font-size: 14px;
    background-color: #f4f6f8;

    //header customer info
    .ui-title-bar-container {
        margin-bottom: 115px;

        .ui-title-bar {
            background-color: #1c2260;
            color: #fff;
            position: relative;
            padding: 0;
            background: transparent;
            color: inherit;
            z-index: 1;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            border-bottom: 0;
            min-height: 7.6rem;
            float: left;
            text-align: left;
            width: 100%;

            .ui-title-bar__navigation {
                fill: #657583;
                color: #657583;
                font-size: 13px;
                cursor: pointer;
            }

            .ui-title-bar__main-group {
                h1 {
                    font-size: 1.8rem;
                    line-height: 3.4rem;
                    font-weight: 600;
                }
            }
        }
    }

    .customer-container {
        padding-left: 0;
        padding-right: 0;
        margin-top: 30px;
        display: flex;
        background: #f4f6f8;

        .customer-info {
            width: 100%;
            background-color: #fff;
            border-radius: 3px;
            padding: 20px;
            position: relative;
            margin-bottom: 20px;
            box-shadow: 0 0 0 1px #e7e9eb;
            .customer-info-title {
                font-weight: 500;
                font-size: 16px;
                padding-bottom: 13px;

                .customer-sources {
                    cursor: pointer;
                    float: right;
                    font-size: 13px;
                    font-weight: 400;
                    position: relative;
                }

                .dropdown-menu {
                    top: 6px !important;
                    left: -60px !important;
                    padding: 0 !important;

                    li {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        border-bottom: 1px solid #d8dee6;
                        position: relative;
                        line-height: 18px;
                        cursor: pointer;

                        a {
                            display: block;
                            padding: 6px 20px;
                            clear: both;
                            font-weight: 400;
                            line-height: 1.42857143;
                            color: #333;
                            white-space: nowrap;
                        }

                        a:hover {
                            text-decoration: none;
                            background-color: #08f;
                        }

                    }

                    li:last-child {
                        border-bottom: none;
                    }
                }
            }

            .customer-info-body {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            
                .page-info-body--sub {
                    width: calc(100% + 40px);
                    margin-left: -20px;
                    margin-right: -20px;
                    border-top: 1px solid #c4cdd5;
                    padding: 18px 20px;
                    float: left;

                    .line-info {
                        width: 100%;
                        margin-bottom: 7px;
                        font-size: 13px;
                        label {
                            width: 170px!important;
                        }
                        .content {
                            font-size: 13px;
                            line-height: 1.5;
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
}