.info-main-card-warpper {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
    .title {
      font-size: 20px;
      font-weight: 400;
      color: #212b35;
    }
    .field {
        margin-top: 10px;
        margin-bottom: 15px;

        .label{
            margin-bottom: 6px;
            min-width: 150px;
            align-items: center;
            align-self: center;
        }

        .label-required::after {
            content: "*";
            color: red;
            margin: 0 .2em;
        }

        .customer-name {
            display: inline-block;
            width: auto;
            height: 34px;
            padding: 1px;
            margin: 0;
            border: 1px solid #95a7b7;
            border-radius: 0;
            border-style: inset;
            color: #000;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 4px 2px 4px 6px;
            border: 1px solid #c4cdd5;
            border-radius: 3px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: normal;
            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 13px;
            font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;

            #editting-customer-address-district {
                margin: 10px 0 0;
                display: flex;

                .select2-container {
                    width: 100% !important;
                }

                .select2-selection.select2-selection--single {
                    background-color: #fff;
                    border: 1px solid #aaa;
                }

                &.default {
                    .select2 {
                        .select2-selection.select2-selection--single {
                            background: #f3f4f5;
                            border: 1px solid rgba(137, 143, 156, 0.2) !important;
                        }
                    }
                }
            }

            #editting-customer-address-ward {
                margin: 10px 0 0;
                display: flex;
                .select2.select2-container {
                  width: 100% !important;
                }
                .select2-selection.select2-selection--single {
                  background-color: #fff;
                  border: 1px solid #aaa;
                }
                &.default {
                  .select2-selection.select2-selection--single {
                    background: #f3f4f5;
                    border: 1px solid rgba(137, 143, 156, 0.2) !important;
                  }
                }
              }
        }
    }
    textarea {
      font-size: 14px;
      width: 100%;
      padding: 8px;
      outline: none;
      resize: none;
      height: 90px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
  }
  #old-order-prepayment-datetime{
    width: 100%;
    margin-left: 0px;
    .react-datepicker-wrapper{
      width: 100%;
      input{
        width: 100%;
      }
    }
  }
}
  