
.col-left{
  width: 56px !important;
  transform: width 2s;
  background-color: #202d3f !important;
}
.aside {
    background-color: #202d3f !important;
    width: 230px;
    transform: width 2s;
    ul {
      display: block;
    }
  }
  
  .rightMenu {
    right: 0!important;
    left: unset!important;
  }
  
  .aside {
    position: fixed;
    height: calc(100%);
    left: 0;
    z-index: 9;
    border: 1px solid #202d3f;
    top: 0px;
    .ekko-menu-top-header{
      cursor: pointer;
      height: 59px;
      border-bottom: 1px solid #15202c;
      margin-bottom: 20px;
      .logo{
        font-size: 20px;
        color: #fff;
        padding: 15px 10px 0px 5px;
      }
      .more-icons{
        position: absolute;
        top:10px;
        right: 11px;
      }
    }

    .nav {
      li {
        width: 100%;
        flex-shrink: 0;
        border-bottom: 1px solid #202d3f;
  
        a {
          padding: 10px 16px;
          font-size: 15px;
          color: #fff;
          line-height: 24px;
          display: flex;
          align-items: center;
          position: relative;
        }
  
        .menu-icon {
          width: 24px;
          height: 24px;
          margin-right: 12px;
          flex-shrink: 0;
  
          &.path {
            path {
              fill: #fff;
            }
          }
        }
  
        &.active,
        &:hover {
          border-bottom: 1px solid #202d3f;
  
          .menu-icon {
  
            &.path {
              path {
                fill: #1769db;
              }
            }
          }
  
        }
      }
  
      &.menu-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
  
        .user {
          border-bottom: none;
          position: relative;
  
          a {
            padding: 10px;
  
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid #fff;
              margin-right: 15px;
              flex-shrink: 0;
              object-fit: cover;
            }
  
            .noti {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              color: #fff;
              background: #f4574c;
              position: absolute;
              left: 28px;
              top: 9px;
              text-align: center;
              line-height: 18px;
              font-size: 11px;
            }
          }
  
          &.show,
          &:hover,
          &:focus {
            background: rgba(255, 255, 255, 0.1);
  
            a {
              color: #fff;
            }
          }
  
          .dropdown-menu {
            width: 250px;
            border: 1px solid #dddddd;
            background: #fff;
            box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.5);
            left: calc(100% - 4px) !important;
            bottom: 8px !important;
            top: auto !important;
            transform: none !important;
            padding: 0;
            margin: 0;
  
            &:after,
            &:before {
              bottom: 10px;
              right: 100%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
  
            &:before {
              border-color: transparent;
              border-right-color: #ddd;
              border-width: 9px;
            }
  
            &:after {
              border-color: transparent;
              border-right-color: #fff;
              border-width: 7px;
              right: 100%;
              bottom: 12px;
            }
  
            .info {
              padding: 8px 17px;
              border-bottom: 1px solid #e5e5e5;
  
              .avatar {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                position: relative;
                margin-right: 15px;
  
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  object-fit: cover;
                }
  
                .status {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: #c50000;
                  position: absolute;
                  right: -1px;
                  bottom: 3px;
  
                  &.active {
                    background: #23b45d;
                  }
                }
              }
  
              p {
                font-size: 15px;
                font-weight: 500;
                color: #5c5c5c;
                line-height: 22px;
              }
  
              span {
                display: block;
                font-size: 14px;
                line-height: 22px;
                color: #c50000;
  
                &.active {
                  color: #06b036;
                }
              }
            }
  
            .authorization {
              border-bottom: 1px solid #e5e5e5;
              padding: 8px 22px 8px 17px;
              position: relative;
              cursor: pointer;
  
              svg {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                flex-shrink: 0;
  
                path {
                  fill: #c50000;
                }
              }
  
              &.good {
                svg {
                  path {
                    fill: #06b036;
                  }
                }
  
                span {
                  color: #06b036;
                }
              }
  
              p {
                font-size: 15px;
                font-weight: 500;
                color: #5c5c5c;
                line-height: 22px;
              }
  
              span {
                display: block;
                font-size: 14px;
                line-height: 22px;
                color: #c50000;
              }
  
              .arrow-right {
                background: #fff;
                position: absolute;
                top: 50%;
                right: 15px;
  
                &:after,
                &:before {
                  left: 100%;
                  top: 50%;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                }
  
                &:before {
                  border-color: rgba(186, 186, 186, 0);
                  border-left-color: #bababa;
                  border-width: 6px;
                  margin-top: -6px;
                }
  
                &:after {
                  border-color: rgba(255, 255, 255, 0);
                  border-left-color: #fff;
                  border-width: 3px;
                  margin-top: -3px;
                }
              }
            }
  
            ul {
              padding: 8px 0;
  
              li {
                border: none;
  
                a {
                  font-size: 15px;
                  color: #5c5c5c;
                  padding: 4px 17px;
                }
  
                &:hover,
                &:focus {
                  background: #f5f6f7;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .hide-aside {
    .aside {
      width: 57px;
  
      .profile {
        .name,
        .btn-down {
          display: none;
        }
      }
  
      .nav {
        li {
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  
  .show-aside {
    .aside {
      width: 200px;
  
      .profile {
        .name,
        .btn-down {
          display: inline-block;
        }
      }
  
      .nav {
        li {
          a {
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }
/* start file sidebar.scss */
// sidebar things
.aside .nav.menu-bottom .user .dropdown-menu .authorization img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  flex-shrink: 0;
  object-fit: contain;
}

.aside .nav.menu-bottom .user .dropdown-menu .authorization span.status.ok {
  color: #06b036;
}
